<div class="flashcard-container" *ngIf="vocabData && vocabData.length > 0">
  <div class="flashcard" [class.flipped]="isFlipped" (click)="flipCard()">
    <div class="front">
      <h2>{{ vocabData[currentIndex].hiragana }}</h2>
      <p>{{ vocabData[currentIndex].meaning }}</p>
    </div>
    <div class="back">
      <div style="display: contents;">
        <h2 style="margin: 0;">{{ vocabData[currentIndex].kanji }}</h2>
        <p >{{ vocabData[currentIndex].hanViet }}</p>
      </div>
    </div>
  </div>
  <div class="navigation">
    <button (click)="prevCard()" [disabled]="vocabData.length <= 1">Trước</button>
    <button (click)="nextCard()" [disabled]="vocabData.length <= 1">Tiếp</button>
  </div>
</div>
<div *ngIf="!vocabData || vocabData.length === 0">
  <p style="display: flex;justify-content: center;">Vui lòng chọn một bài học để bắt đầu!</p>
</div>