<div class="home-container">
    <h1>Chào mừng đến với Japanese Learning</h1>
    <p>Chọn phương pháp học phù hợp với bạn:</p>
    
    <div class="learning-options">
      <a (click)="navigateTo('/kanji-words')" [class.active]="isActive('/kanji-words')" class="option-card">
        <h2>Học theo Kanji</h2>
        <p>Tìm hiểu và luyện tập các chữ Kanji cơ bản đến nâng cao.</p>
      </a>
      <a (click)="navigateTo('/vocabulary')" [class.active]="isActive('/vocabulary')" class="option-card">
        <h2>Học từ vựng</h2>
        <p>Mở rộng vốn từ vựng tiếng Nhật hàng ngày.</p>
      </a>
      
      <a (click)="navigateTo('/kanji-radicals')" [class.active]="isActive('/kanji-radicals')" class="option-card">
        <h2>Học theo bộ thủ</h2>
        <p>Hiểu cấu trúc Kanji qua các bộ thủ cơ bản.</p>
      </a>
      <a (click)="navigateTo('/adverb-radicals')" [class.active]="isActive('/adverb-radicals')" class="option-card">
        <h2>Học phó từ </h2>
        <p>Hiểu rõ phó từ giúp quá trình sử dụng đơn giản hơn</p>
      </a>
      <a (click)="navigateTo('/reduplicative-words')" [class.active]="isActive('/reduplicative-words')" class="option-card">
        <h2>Học từ láy</h2>
        <p>Học các từ láy trong tiếng Nhật với flashcard và kiểm tra trắc nghiệm.</p>
      </a>
    </div>
  </div>